* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}
h1.secondary {
  color: #D3573C;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Layout */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header .logo {
  height: 50px;
  margin-left: 100px;
}

/* Pages */
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.photographer_section article .location {
  color: #901C1C;
  font-size: 1.6rem;
}
.photographer_section article .description {
  font-size: 1.5rem;
}
.photographer_section article .price {
  font-size: 1.4rem;
  color: #52525252;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.photograph-header .infos-photographer h1 {
  font-size: 4.5rem;
}
.photograph-header .infos-photographer span {
  color: #901C1C;
  font-size: 2rem;
}
.photograph-header .infos-photographer p {
  color: #52525252;
  font-size: 1.7rem;
  margin-top: 1rem;
}
.photograph-header img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.medias-photographer {
  margin: 0 100px;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.medias-photographer .media {
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
}
.medias-photographer .media img,
.medias-photographer .media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.medias-photographer .media img:hover,
.medias-photographer .media video:hover {
  cursor: pointer;
}
.medias-photographer .media .infos-media {
  display: flex;
  justify-content: space-between;
}
.medias-photographer .media .infos-media p {
  color: #901C1C;
  font-size: 1.6rem;
}
.medias-photographer .media .infos-media p i.icon-heart:hover {
  cursor: pointer;
}

.short-fixed-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 5rem;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  background-color: #D3573C;
  padding: 10px;
}
.short-fixed-infos p {
  color: #000;
  font-size: 2rem;
  margin: 0 1rem;
}

/* Components */
button.contact {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312E2E;
  font-size: 30px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input,
form textarea {
  width: 100%;
  font-size: 25px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
form input {
  height: 35px;
}

#filtre {
  margin: 30px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}
#filtre > span {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 20px;
}
#filtre div.list-options {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  background-color: #901C1C;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 10px;
  font-size: 1.4rem;
}
#filtre div.list-options .container-select-option {
  display: flex;
  align-items: center;
  gap: 15px;
}
#filtre div.list-options .container-select-option:hover {
  cursor: pointer;
}
#filtre div.list-options div.other-options.hide {
  display: none;
}
#filtre div.list-options div.other-options {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #901C1C;
  width: 100%;
}
#filtre div.list-options div.other-options span {
  padding: 10px;
  width: 100%;
  text-align: center;
}
#filtre div.list-options div.other-options span:hover {
  cursor: pointer;
}
#filtre div.list-options div.other-options span:not(span:last-child) {
  border-bottom: 1px solid #fff;
}

.modal-layout {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#contact_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
#contact_modal.hide {
  display: none;
}
#contact_modal .modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
}
#contact_modal .modal header {
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
#contact_modal .modal header img {
  cursor: pointer;
  width: 7%;
}
#contact_modal .modal header h2 {
  font-size: 30px;
  font-weight: normal;
}

#medias-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}
#medias-modal.hide {
  display: none;
}
#medias-modal .window {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 90vh;
  width: 100%;
  margin: 0px 100px 0 100px;
}
#medias-modal .window .close-modal-media {
  grid-area: 1/6/2/7;
}
#medias-modal .window .close-modal-media i {
  margin-left: 10px;
  margin-top: 10px;
}
#medias-modal .window .close-modal-media i:hover {
  cursor: pointer;
}
#medias-modal .window .next {
  grid-area: 3/6/4/7;
  margin-left: 1.5rem;
}
#medias-modal .window .previous {
  grid-area: 3/1/4/2;
  justify-content: end;
  margin-right: 1.5rem;
}
#medias-modal .window .next,
#medias-modal .window .previous {
  display: flex;
  align-items: center;
}
#medias-modal .window .next:hover,
#medias-modal .window .previous:hover {
  cursor: pointer;
}
#medias-modal .window .media-title {
  grid-area: 5/2/6/3;
}
#medias-modal .window .media-title h3 {
  font-size: 2.5rem;
  color: #901C1C;
}
#medias-modal .window .media-content {
  grid-area: 1/2/5/6;
  text-align: center;
}
#medias-modal .window .media-content img,
#medias-modal .window .media-content video {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
}
#medias-modal .window i {
  font-size: 4rem;
  color: #901C1C;
  z-index: 9999;
}

/*# sourceMappingURL=style.css.map */
