.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .infos-photographer {
        h1 {
            font-size: 4.5rem;
        }
        span {
            color: $primary-color;
            font-size: 2rem;
        }
        p {
            color: $tiers-color;
            font-size: 1.7rem;
            margin-top: 1rem;
        }
    }
    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }
}

.short-fixed-infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 5rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    background-color: $secondary-color;
    padding: 10px;
    p {
        color: $black;
        font-size: 2rem;
        margin: 0 1rem;
    }
}