.modal-layout {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#contact_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);

    &.hide {
        display: none;
    }

    .modal {
        border-radius: 5px;
        background-color: #DB8876;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        margin: auto;

        header {
            justify-content: space-between;
            align-items: start;
            width: 100%;

            img {
                cursor: pointer;
                width: 7%;
            }

            h2 {
                font-size: 30px;
                font-weight: normal;
            }
        }
    }
}

#medias-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .8); // display: none;

    &.hide {
        display: none;
    }

    .window {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 90vh;
        width: 100%;
        margin: 0px 100px 0 100px;

        .close-modal-media {
            grid-area: 1 / 6 / 2 / 7;

            i {
                margin-left: 10px;
                margin-top: 10px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .next {
            grid-area: 3 / 6 / 4 / 7;
            margin-left: 1.5rem;
        }

        .previous {
            grid-area: 3 / 1 / 4 / 2;
            justify-content: end;
            margin-right: 1.5rem;
        }

        .next,
        .previous {
            display: flex;
            align-items: center;
        }

        .media-title {
            grid-area: 5 / 2 / 6 / 3;

            h3 {
                font-size: 2.5rem;
                color: $primary-color;
            }
        }

        .media-content {
            grid-area: 1 / 2 / 5 / 6;
            text-align: center;

            img,
            video {
                height: 100%;
                width: auto;
                object-fit: cover;
                object-position: center;
            }
        }

        i {
            font-size: 4rem;
            color: $primary-color;
            z-index: 9999;
        }
    }
}